/*@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
}


.accueil {
    display: flex;
    flex-direction: row;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: #ff0000;
    text-decoration: underline;
}

.connexion {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 15px;
    border-right: 1px solid #edebeb;
    text-align: center;
}

.fly_ton_event {
    flex: 1.5;
    text-align: center;
    border-radius: 30px;
    border-color: rgb(0, 0, 0);
    background-color: rgb(29, 155, 240);
    padding: 15px;
    text-decoration: none;
}

.flux {
    display: flex;
    flex-direction: column;
    flex: 2;
    border-right: 1px solid #edebeb;
}

.recherche {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-width: 10px;
    padding: 15px;
    text-align: center;
}

.recherche h2 {
    text-align: center;
}

.search_form {
    flex: 1;
}

.events_flow {
    display: flex;
    flex-direction: column;
    display: grid;
    align-items: center;
    gap: 5px;
}

.events_flow article {
    display: flex;
    flex-direction: column;
	padding: 4px;
    border-top: 1px solid #edebeb;
    gap: 2px;
}

.events_flow h3 {
    text-align: center;
}

.divImg {
    color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.events_flow img {
	max-width: 300px;
    max-height: 500px;
}

.events_flow p {
	margin-top: 4px;
	margin-bottom: 4px;
}

.divLikes {
    display: flex;
    flex-direction: row;
}
*/


