@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    /*margin: auto;
    padding: 16px;*/
    font-family: 'Montserrat', sans-serif;
}

.accueil {
    display: flex;
    flex-direction: row;
    /*flex-grow: 1;*/
}

.connexion {
    display: flex;
    flex: 1;
    padding: 15px;
    border-right: 1px solid #edebeb; /* Ajoute une bordure à droite de chaque élément */
    text-align: center;
}

.flux {
    display: flex;
    flex-direction: column;
    flex: 2;
    /*padding: 15px;*/
    border-right: 1px solid #edebeb; /* Ajoute une bordure à droite de chaque élément */
    /*text-align: center;*/
}


.recherche {
    display: flex;
    flex-direction: column;
    flex: 1;
    border-width: 10px;
    padding: 15px;
    text-align: center;
}

.recherche h2 {
    text-align: center;
}

.search_form {
    flex: 1;
}

.events_flow {
    display: flex;
    flex-direction: column;
    /*flex: 1;*/
	/*margin: 8px;*/
    display: grid;
    gap: 5px;
}

.events_flow img {
	max-width: 200px;
}

.events_flow p {
	margin-top: 4px;
	margin-bottom: 4px;
}

.events_flow article {
	/*border: 1px solid #edebeb;*/
	padding: 4px;
    /*border-radius: 5px;*/
    border-top: 1px solid #edebeb;
}

.events_flow h3 {
    text-align: center;
}
