.zone_body {
    display: flex;
    flex-direction: row;

}

#chatzone {
    position: fixed;
    top: 20px; /* Définis la position à partir du haut du conteneur */
    background-color: rgb(102, 226, 222);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 235px;
    display: flex;
    align-items: center; /* Centre verticalement */
    height: 300px; /* Hauteur définie */
    justify-content: center;
    width: 100%; 
    box-sizing: border-box; /* Inclut les paddings et bordures dans la largeur */
    height: fit-content;
    left: 0;
    border-top: 1px solid #ccc;
}

.chatInputElement {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    width: 100%; 
}

.EnvoiMess {
    flex: 1;
    margin-right: 5px;
}