{% extends 'Flow/base.html' %}
{% load static %}
{% block head %}<link href="{% static 'Flow/css/home.css' %}" rel="stylesheet" />
<link href="{% static 'Flow/css/profile.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="global-container">
        <h1 class="">Profil de {{ user.name }},</h1>
        <div class="profile-container">
            
            <div class="right-section">
                {% if user.avatar %}
                    <img class="profile-picture" src="{{ user.avatar.url }}" alt="Profile Picture">
                {% else %}
                    <img class="profile-picture" src="{% static 'Authentication/img/avatar/default.jpg' %}" alt="Profile Picture">
                {% endif %}
            </div>
        </div>
        <div class="events-container">
            <h2>Les événements créés par {{ user.name }}</h2>
            {% for event in events_created %}
                <div class="event-card">
                    <div class="infos-event">
                        <h2>{{event.title}}</h2>
                        <p> {{event.description}}</p>
                        <p><i class="fas fa-calendar-alt icon"></i>{{event.date}}</p>
                        <p><i class="fas fa-users icon"></i>{{event.members.all.count}} / {{event.max_members}}</p>

                        {% if event.is_paid_event %}
                            <p><i class="fas fa-tag icon"></i>{{event.ticket_price}} €</p>
                        {% else %}
                            <p><i class="fas fa-tag icon"></i>Gratuit!</p>
                        {% endif %}
                        <a class="join-link"  href = "{% url 'event' event.id %}"><button attr="{{event.id}}">Détails</button></a>
                    </div>
                    <img src="{{event.image.url}}" alt="Photo de l'event">
                </div>
            {% endfor %}  
        </div>
        <div class="events-container">
            <h2>Les événements auxquels {{user.name}} participe</h2>
            {% for event in events %}
                <div class="event-card">
                    <div class="infos-event">
                        <h2>{{event.title}}</h2>
                        <p> {{event.description}}</p>
                        <p><a href="{% url 'member_profile' event.created_by.id %}"><i class="fas fa-user icon"></i>{{ event.created_by }}</a></p>
                        <p><i class="fas fa-calendar-alt icon"></i>{{event.date}}</p>
                        <p><i class="fas fa-users icon"></i>{{event.members.all.count}} / {{event.max_members}}</p>

                        {% if event.is_paid_event %}
                            <p><i class="fas fa-tag icon"></i>{{event.ticket_price}} €</p>
                        {% else %}
                            <p><i class="fas fa-tag icon"></i>Gratuit!</p>
                        {% endif %}
                        <a class="join-link"  href = "{% url 'event' event.id %}"><button attr="{{event.id}}">Détails</button></a>
                    </div>
                    <img src="{{event.image.url}}" alt="Photo de l'event">
                </div>
            {% endfor %}  
        </div>
    </div>
{% endblock %}


{% block script %}<script src="../../static/Flow/js/flow.js"></script> {% endblock %}

