<!DOCTYPE html>
<html lang="fr">
    <head>
        {% load static %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="{% static 'Authentication/css/styles.css' %}">
        <title>Profil</title>
    </head>
    <body>
        <h1 class="">Bonjour {{ user.name }}</h1>
        <p class="texte">{{ user.email }}</p><br>
        {% if user.avatar %}
            <img class="profile-picture" src="{{ user.avatar.url }}" alt="Profile Picture">
        {% else %}
            <img class="profile-picture" src="{% static 'Authentication/img/avatar/default.jpg' %}" alt="Profile Picture">
        {% endif %}
        <br>
        {%if not user.is_validated_money_man and not user.money_man_request_pending%}
        <form action="{% url 'demande_validation'%}" method="POST">
            {% csrf_token %}
            <button type="submit" class="bouton">Demander à pouvoir recevoir des paiements</button>
        </form>
        {%endif%}
        {%if user.money_man_request_pending%}
            <p class="texte">Vous êtes en attente de validation pour recevoir des paiements</p>
        {%endif%}
        {%if user.is_validated_money_man and not user.money_man_request_pending%}
            <p class="texte">Vous pouvez recevoir des paiements</p>
        {%endif%}
        {% if user.is_validated_money_man %}
            <form action="{% url 'create_stripe_connect_account' %}" method="post">
                {% csrf_token %}
                <button class="bouton" type="submit">Créer un compte Connect</button>
            </form>
        {% endif %}
        <form action="{% url 'modify_profile'%}" method="get">
            {% csrf_token %}
            <button type="submit" class="bouton">Editer mon profil</button>
        </form>
    </body>
</html>