
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Flux</title>
        <link href="{% static 'Flow/css/home.css' %}" rel="stylesheet" />
        <script type="module" src="{% static 'Flow/js/display_events.js' %}"></script>
        <script>var list_events = JSON.parse('{{ list_events|escapejs}}')</script>
    </head>
<body>

{% block content %}{% endblock %}

<div class="recherche">
    {% if results %}
        <h2>Search Results</h2>
        <ul>
        {% for event in results %}
            <li>{{ event.title }}</li>
        {% endfor %}
        </ul>
    {% else %}
        <form action="" method="post" novalidate>
            {% csrf_token %}
            {{ form }}
            <input type="submit" value="Envoyer">
        </form>
    {% endif %}
</div>
</body>
</html>
