{% extends 'Flow/base.html' %}
{% load static %}
{% block head %}<link href="{% static 'Flow/css/home.css' %}" rel="stylesheet" />
        <script>var serialized_events = JSON.parse('{{ serialized_events|escapejs}}');</script>
        <!--<script>var events = JSON.parse('{{ events|escapejs}}');</script>-->
        <script type="module" src="{% static 'Flow/js/display_events.js' %}"></script>
{% endblock %}

{% block content %}
    <div class="global-container">
        <h1>Accueil</h1>
            
        <h2>Les derniers events</h2>

        <div class="search_form">
            
            <form action="{% url 'search' %}" method="post">
                {% csrf_token %}
                {% for field in form %}
                    <span class="field">{{ field }}</span>
                {% endfor %}
                <button class="button-search" id="button-search" type="submit"><i class="fa fa-search"></i></button>
            </form>
        </div>
        {% if request.user.is_authenticated and eId %}
        <div class="success-box">
            <span>Vous avez bien rejoint l'event !</span>
        </div>
         {% endif %}   
        <div class="events-container">
            {% for event in events %}
                <div class="event-card">
                    <div class="infos-event">
                        <h2>{{event.title}}</h2>
                        <p> {{event.description}}</p>
                        <p><i class="fas fa-user icon"></i>{{ event.created_by }}</p>
                        <p><i class="fas fa-calendar-alt icon"></i>{{event.date}}</p>
                        <p><i class="fas fa-users icon"></i>{{event.members.all.count}} / {{event.max_members}}</p>

                        {% if event.is_paid_event %}
                            <p><i class="fas fa-tag icon"></i>{{event.ticket_price}} €</p>
                        {% else %}
                            <p><i class="fas fa-tag icon"></i>Gratuit!</p>
                        {% endif %}
                        <a class="join-link"  href = "{% url 'event' event.id %}"><button attr="{{event.id}}">Détails</button></a>
                        <p> </p>
                        <a class="join-link" href=""><button class="event-card-likes" id="{{event.id}}" attr="{{event.id}}">Likes</button></a>
                        <!--<div class="event-card-likes" id="{{event.id}}" attr="{{event.id}}"></div>-->
                    </div>
                    <img src="{{event.image.url}}" alt="Photo de l'event">
                </div>
            {% endfor %}  
        </div>
    </div>
{% endblock %}


{% block script %}
<script src="../../static/Flow/js/flow.js"></script>
{% endblock %} 