
{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Flux</title>
        <script type="module" src="{% static 'Flow/js/display_events.js' %}"></script>
        <script>var list_events = JSON.parse('{{ list_events|escapejs}}')</script>
        <link href="{% static 'Flow/css/home.css' %}" rel="stylesheet" />
    </head>
<body>

    <div class="accueil">
        <div class="connexion">
            {% if user.is_authenticated %}
            <p> <a href="{% url 'GroupPage' %}">Communautés</a> </p>
            {% else %}
            <a href="{% url 'login' %}">Communautés</a>
            {% endif %}

            <div>
                {% if user.is_authenticated %}
                <div class="fly_ton_event">
                <p><a href="{% url 'create_event' %}">Fly ton event</a></p>
                </div>
                {% else %}
                <div class="fly_ton_event">
                <p><a href="{% url 'login' %}">Fly ton event</a></p>
                </div>
                {% endif %}
            </div>

            {% if user.is_authenticated %}
            <p> Vous êtes connecté. <a href= "{% url 'logout' %}">Se déconnecter</a>  </p>
            {% endif %}
        </div>
        
        <div class="flux">

            <section class="events_flow">
            </section>
            
        </div>

        <div class="recherche">
            <h2>Recherche</h2>
            <div class="search_form">
                {% if results %}
                    <h2>Search Results</h2>
                    <ul>
                        {% for event in results %}
                            <li>{{ event.title }}</li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <form action="" method="get" novalidate>
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Envoyer">
                    </form>
                {% endif %}
            </div>
        </div>
    </div>

    
</body>
</html>


